{% extends 'base.html.twig' %}


{% block title %}{% trans %} New Reservation {% endtrans %}{% endblock %}

{% block body %}

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}

    {% for flash_message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ flash_message }}</div>
    {% endfor %}

    <h1 class="d-flex align-items-center justify-content-center my-5">{% trans %} Create a new reservation {% endtrans %}</h1>
    
   
    {{ include('reservation/_form.html.twig') }}

{% endblock %}
